<section class="modal">
  <div class="product-info">
    <div class="product-info-header">
      <img [src]="productData.icon" [alt]="productData.name">
      <h3>Informações do Produto</h3>
    </div>
    <div class="infos">
      <div class="info">
        <span>Nome:</span>
        <p class="product-name"> {{ productData.name }}</p>
      </div>
      <div class="info">
        <span>ID: </span>
        <p> {{ productData.id }}</p>
      </div>
      <div class="info">
        <span>Categoria:</span>
        <p> {{ productData.category }}</p>
      </div>
      <div class="info">
        <span>Preço:</span>
        <p> {{ productData.price | currency:'BRL':'symbol':'1.2-2' }}</p>
      </div>
      <div class="info">
        <span>Quantidade Disponível:</span>
        <p>{{ productData.inStock }}</p>
      </div>
    </div>
    <button class="closeButton" (click)="closeViewing()">
      <img src="exit.png" alt="">
    </button>
    </div>
</section>
