<div class="table-responsive">
  <div class="products-title">
    <img src="stock-info-card/total-stock.png" alt="">
    <h2>Produtos em Estoque</h2>
  </div>
  <table>
    <thead>
      <tr>
        <th>Produto</th>
        <th>Categoria</th>
        <th>Estoque</th>
        <th>Status</th>
        <th>Preço</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (produto of produtos; track produto.id) {
        <tr>
          <td>
            <div class="product-info">
                <img [src]="produto.icon" alt="Ícone da Categoria" class="category-icon">
              <div class="product-details">
                <span>{{ produto.nome }}</span>
                <span class="product-id">ID: {{ produto.id }}</span>
              </div>
            </div>
          </td>
          <td>{{ produto.categoria }}</td>
          <td [class.warning-alert]="produto.estoque <= 10" [class.destructive-alert]="produto.estoque == 0">{{ produto.estoque }}</td>
          <td>
            <div class="status-badge" [ngClass]="getStatusClass(produto.estoque)">
              {{ getStatus(produto.estoque) }}
            </div>
          </td>
          <td>{{ produto.preco | currency:'BRL':'symbol':'1.2-2'}}</td>
          <td>
            <div class="action-buttons">
              <button class="btn-edit">Editar</button>
              <button class="btn-view">Ver</button>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <div class="mobile-cards">
    @for (produto of produtos; track produto.id) {
      <div class="card">
        <div class="card-header">
          <img [src]="produto.icon" alt="Ícone da Categoria" class="category-icon">
          <div class="product-details">
            <span class="product-name">{{ produto.nome }}</span>
            <span class="product-id">ID: {{ produto.id }}</span>
          </div>
        </div>
        <div class="card-body">
          <div class="card-item">
            <span class="card-label">Categoria:</span>
            <span class="card-value">{{ produto.categoria }}</span>
          </div>
          <div class="card-item">
            <span class="card-label">Estoque:</span>
            <span class="card-value" [class.warning-alert]="produto.estoque <= 10" [class.destructive-alert]="produto.estoque == 0">{{ produto.estoque }}</span>
          </div>
          <div class="card-item">
            <span class="card-label">Status:</span>
            <span class="status-badge" [ngClass]="getStatusClass(produto.estoque)">{{ getStatus(produto.estoque) }}</span>
          </div>
          <div class="card-item">
            <span class="card-label">Preço:</span>
            <span class="card-value">{{ produto.preco | currency:'BRL':'symbol':'1.2-2' }}</span>
          </div>
        </div>
        <div class="card-actions">
          <button class="btn-edit">Editar</button>
          <button class="btn-view">Ver</button>
        </div>
      </div>
    }
  </div>
</div>
