<div class="table-responsive">
  <div class="products-title">
    <img src="stock-info-card/total-stock.png" alt="">
    <h2>Produtos em Estoque</h2>
  </div>
  <table>
    <thead>
      <tr>
        <th>Produto</th>
        <th>Categoria</th>
        <th>Estoque</th>
        <th>Status</th>
        <th>Preço</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (product of products; track product.id) {
        <tr>
          <td>
            <div class="product-info">
                <img [src]="product.icon" alt="Ícone da Categoria" class="category-icon">
              <div class="product-details">
                <span>{{ product.name }}</span>
                <span class="product-id">ID: {{ product.id }}</span>
              </div>
            </div>
          </td>
          <td>{{ product.category }}</td>
          <td [class.warning-alert]="product.inStock <= 10" [class.destructive-alert]="product.inStock == 0">{{ product.inStock }}</td>
          <td>
            <div class="status-badge" [ngClass]="getStatusClass(product.inStock)">
              {{ getStatus(product.inStock) }}
            </div>
          </td>
          <td>{{ product.price| currency:'BRL':'symbol':'1.2-2'}}</td>
          <td>
            <div class="action-buttons">
              <button class="btn-edit">Editar</button>
              <button class="btn-view" (click)="showProduct(product)">Ver</button>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <div class="mobile-cards">
    @for (product of products; track product.id) {
      <div class="card">
        <div class="card-header">
          <img [src]="product.icon" alt="Ícone da Categoria" class="category-icon">
          <div class="product-details">
            <span class="product-name">{{ product.name }}</span>
            <span class="product-id">ID: {{ product.id }}</span>
          </div>
        </div>
        <div class="card-body">
          <div class="card-item">
            <span class="card-label">Categoria:</span>
            <span class="card-value">{{ product.category }}</span>
          </div>
          <div class="card-item">
            <span class="card-label">Estoque:</span>
            <span class="card-value" [class.warning-alert]="product.inStock <= 10" [class.destructive-alert]="product.inStock == 0">{{ product.inStock }}</span>
          </div>
          <div class="card-item">
            <span class="card-label">Status:</span>
            <span class="status-badge" [ngClass]="getStatusClass(product.inStock)">{{ getStatus(product.inStock) }}</span>
          </div>
          <div class="card-item">
            <span class="card-label">Preço:</span>
            <span class="card-value">{{ product.price | currency:'BRL':'symbol':'1.2-2' }}</span>
          </div>
        </div>
        <div class="card-actions">
              <button class="btn-edit">Editar</button>
              <button class="btn-view" (click)="showProduct(product)">Ver</button>
        </div>
      </div>
    }
  </div>
</div>
