@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "./colors.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  color: $text-primary-color;
}

.red-alert-text-color {
  color: $destructive;
}


.yellow-alert-text-color {
  color: $warning;
}

html {
  background-color: $background;
}

.warning-alert {
  color: $warning;
  font-weight: 400;
}

.destructive-alert {
  color: $destructive;
  font-weight: 400;
}

:root {
  // Primary Project Colors
  --background: #{$background};
  --text-primary-color: #{$text-primary-color};
  --card: #{$card};
  --secoundary-background: #{$secondary-background};
  --muted: #{$muted};
  --accent: #{$accent};
  --border: #{$border};
  --input: #{$input};

  //Alert Colors
  --success: #{$success};
  --warning: #{$warning};
  --destructive: #{$destructive};
}
