@import "../../../colors.scss";

#stock {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: initial;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 100%;
  gap: 3vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 12vh;

  border-bottom: 1px solid rgba($color: $border, $alpha: 0.6);
}

.header-title {
  padding-top: 3vh;
  padding-left: 17vw;
  font-size: 30px;
  font-weight: 500;
}

.information {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 4vh;
}

.product-informations {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  list-style: none;
}

.product-informations > * {
  flex: 1 1 200px;
  min-width: 0;
}

.filters-section {
  display: flex;
  flex-direction: column;

  align-items: start;
  justify-content: start;

  background-color: $card;

  width: 100%;
  height: 100%;

  padding-bottom: 20px;
  border-radius: 10px;
  gap: 3vh;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  padding-left: 2vh;

  flex-wrap: wrap;
}

.search-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $background;
  border-radius: 10px;

  width: 97.5%;
  gap: 1vw;

  img {
    width: 20px;
    height: 20px;
  }
}

@media(max-width: 750px) {
  .search-items {
    img {
      margin-left: 15px;
    }
  }
}

.search-items:focus {
  border: 1px solid $text-primary-color;
  outline: auto;
}

.form-filter {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 100%;
}

.filter-icon, .products-icon {
  width: 18px;
  height: 18px;
}

.filter-title {
  display: flex;
  font-weight: 400;
  gap: 5px;

  align-items: center;
  padding-top: 2vh;
  padding-left: 2vh;

  h2 {
    font-size: 18px;
    font-weight: 500;
  }
}

.selects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
}

@media(max-width: 845px){
  .selects {
    flex-direction: column;
  }
}

.select {
  width: 95%;
  padding: 0.5vw;
  border: none;
  outline: none;
  appearance: none;

  option {
    background-color: $card;
    color: $success;
    border: 1px solid $success;
  }
}

.select-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background;
}

.search-bar {
  width: 92%;
  border: none;
}

.search-bar:focus {
  outline: none;
}

.search-bar, .select {
  border-radius: 5px;
  height: 45px;
  border: none;
  background-color: $background;
}

.select-space {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;

  label {
    font-weight: 200;
  }
}

#stock-products {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;

  background-color: $card;

  width: 100%;
  height: 100%;

  div {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    margin: 1vh;

    h2 {
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.products-icon {
  width: 30px;
  height: 30px;
}

.product-table {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  width: 100%;
  margin: 2vh;
}

/* Layout normal no desktop */
.product-table {
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

.product-table th,
.product-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

@media (max-width: 768px) {
  .product-table,
  .product-table thead,
  .product-table tbody,
  .product-table th,
  .product-table td,
  .product-table tr {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2vh;
    width: 97%;
    height: 100%;
  }

  .product-table thead {
    width: 100%;
    height: 100%;
    display: none;
  }

  .product-table tr {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $background;
    border: 1px solid $muted;
    border-radius: 8px;
    flex-wrap: wrap;
    width: 97%;
    height: 100%;
  }

  .product-table td {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 8px;
    border: none;
  }

  .product-table td::before {
    content: attr(data-label); /* Mostra o label */
    font-weight: 400;
    font-size:medium;
  }

  // .product-data td > * {
  //   flex: 1 1 10px;
  //   min-width: 0;
  // }

  .category-icon {
    width: 25px;
    height: 25px;
  }

  .product-info {
    display: flex;
    flex-direction: center;
    align-items: center;
    flex-direction: row;
  }

  .product-name {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .header-product {
    width: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .status-title {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
  }

  .status {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .status p {
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    width: 20vw;
    background-color: $success;
    border-radius: 10px;
  }
}

#products {
  width: 100%;
}
