<main id="stock">
  <header class="header">
    <h1 class="header-title">Estoque</h1>
  </header>
  <div class="main-section">
    <section class="information">
      <ul class="product-informations">
          <app-info-card title="Total de Produtos" info="6" description="+2 novos este mês" icon="/stock-info-card/total-stock.png"/>
          <app-info-card title="Estoque Baixo" info="2" description="Atenção necessária" icon="yellow-alert.png" [style.--text-color]="'var(--warning)'"/>
          <app-info-card title="Sem Estoque" info="1" description="Reposição urgente" icon="red-alert.png" [style.--text-color]="'var(--destructive)'"/>
          <app-info-card title="Valor Total" info="R$ 10.026,50" description="Valor do estoque" icon="growth.png" [style.--text-color]="'var(--success)'"/>
      </ul>
    </section>
    <section class="filters-section">
      <div class="filter-title">
        <img class="filter-icon" src="filter.png" alt="">
        <h2 class="title">Filtros</h2>
      </div>
      <div class="filters">
        <form action="" class="form-filter">
          <div class="search-items">
            <img src="search.png" alt="" class="search-icon">
            <input type="text" placeholder="Buscar produtos..." class="search-bar">
          </div>
          <div class="selects">
            <div class="select-space">
              <label for="categories">Categorias</label>
                <select name="categories" class="select">
                  @for (category of categories; track category) {
                    <option [value]="category"> {{ category }}</option>
                  }
                </select>
            </div>
              <div class="select-space">
                <label for="status">Status</label>
                <select name="status" class="select">
                  @for (statusType of status; track statusType) {
                    <option [value]="statusType"> {{ statusType }}</option>
                  }
                </select>
              </div>
          </div>
        </form>
      </div>
      </section>
      <app-stock-product/>
      <footer>
      </footer>
  </div>
</main>
