<main id="stock">
  <header class="header">
    <h1 class="header-title">Estoque</h1>
  </header>
  <section class="geral-product-information">
    <ul class="product-informations">
        <app-info-card title="Test" info="test info" description="This is a test" icon="alert.png"/>
        <app-info-card title="Test" info="test info" description="This is a test" icon="alert.png"/>
        <app-info-card title="Test" info="test info" description="This is a test" icon="alert.png"/>
        <app-info-card title="Test" info="test info" description="This is a test" icon="alert.png"/>
    </ul>
  </section>
  <section class="filters">
    filters
  </section>
  <section class="items">
    list items
  </section>
</main>
